In [14]:
import pandas as pd

In [15]:
import seaborn as sns

In [16]:
ccs_round_41 = pd.read_csv('CCS_round41.csv')

In [17]:
ccs_round_41.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6490 entries, 0 to 6489
Data columns (total 28 columns):
 #   Column                                                               Non-Null Count  Dtype
---  ------                                                               --------------  -----
 0   Serial No.                                                           6490 non-null   int64
 1   Round No.                                                            6490 non-null   int64
 2   Period                                                               6490 non-null   object
 3   City                                                                 6490 non-null   object
 4   Age                                                                  6490 non-null   object
 5   Gender                                                               6490 non-null   object
 6   Annual Income                                                        6490 non-null   object
 7   Assembly Constituency Name                                           6490 non-null   object
 8   Educational Qualification                                            6490 non-null   object
 9   No. of Family Members                                                6490 non-null   object
 10  No. of Earning members in the family                                 6490 non-null   int64
 11  Occupation of Respondent                                             6490 non-null   object
 12  Perception on General Economic condition - compared to one year ago  6490 non-null   object
 13  Outlook on General Economic condition - one year ahead               6490 non-null   object
 14  Perception on Household income - compared to one year ago            6490 non-null   object
 15  Outlook on Household income - one year ahead                         6490 non-null   object
 16  Perception on Household spending - compared to one year ago          6490 non-null   object
 17  Outlook on Household spending - one year ahead                       6490 non-null   object
 18  Perception on essential spending - compared to one year ago          6490 non-null   object
 19  Outlook on essential spending - one year ahead                       6490 non-null   object
 20  Perception on non-essential spending - compared to one year ago      6490 non-null   object
 21  Outlook on non-essential spending - one year ahead                   6490 non-null   object
 22  Perception on Employment scenario - compared to one year ago         6490 non-null   object
 23  Outlook on Employment scenario - one year ahead                      6490 non-null   object
 24  Perception on General prices - compared to one year ago              6490 non-null   object
 25  Outlook on General prices - one year ahead                           6490 non-null   object
 26  Perception on Inflation - compared to one year ago                   5654 non-null   object
 27  Outlook on Inflation - one year ahead                                5317 non-null   object
dtypes: int64(3), object(25)
memory usage: 1.4+ MB

In [18]:
ccs_round_41.head()

,Serial No.,Round No.,Period,City,Age,Gender,Annual Income,Assembly Constituency Name,Educational Qualification,No. of Family Members,...,Perception on essential spending - compared to one year ago,Outlook on essential spending - one year ahead,Perception on non-essential spending - compared to one year ago,Outlook on non-essential spending - one year ahead,Perception on Employment scenario - compared to one year ago,Outlook on Employment scenario - one year ahead,Perception on General prices - compared to one year ago,Outlook on General prices - one year ahead,Perception on Inflation - compared to one year ago,Outlook on Inflation - one year ahead
0,1,41,Mar-2018,Ahmedabad,22-29 year,Female,Rs. 1 lakh or less,Amaraiwadi,5th Std-Below 10th Std,3 or 4,...,Increased,Will increase,Increased,Will increase,Worsened,Will worsen,Increased,Will increase,Increased,Will increase
1,2,41,Mar-2018,Ahmedabad,22-29 year,Female,Rs. 1 lakh or less,Amaraiwadi,5th Std-Below 10th Std,5 and more,...,Remained the same,Will increase,Decreased,Remain the same,Improved,Will improve,Increased,Will increase,Increased,Remain the same
2,3,41,Mar-2018,Ahmedabad,22-29 year,Female,Rs. 1 lakh or less,Amaraiwadi,5th Std-Below 10th Std,5 and more,...,Increased,Will increase,Increased,Will increase,Improved,Will improve,Increased,Will decrease,Increased,NaN
3,4,41,Mar-2018,Ahmedabad,22-29 year,Female,Rs. 1 lakh or less,Bapunagar,5th Std-Below 10th Std,1 to 2,...,Increased,Will increase,Remained the same,Remain the same,Improved,Will improve,Increased,Will increase,Increased,Will increase
4,5,41,Mar-2018,Ahmedabad,22-29 year,Female,Rs. 1 lakh or less,Danilimda,12th Std,5 and more,...,Increased,Will increase,Increased,Will increase,Improved,Will improve,Increased,Will decrease,Increased,NaN

In [19]:
ccs_round_41.drop(ccs_round_41.iloc[:, 3:5], inplace=True, axis=1)

In [20]:
ccs_round_41.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6490 entries, 0 to 6489
Data columns (total 26 columns):
 #   Column                                                               Non-Null Count  Dtype
---  ------                                                               --------------  -----
 0   Serial No.                                                           6490 non-null   int64
 1   Round No.                                                            6490 non-null   int64
 2   Period                                                               6490 non-null   object
 3   Gender                                                               6490 non-null   object
 4   Annual Income                                                        6490 non-null   object
 5   Assembly Constituency Name                                           6490 non-null   object
 6   Educational Qualification                                            6490 non-null   object
 7   No. of Family Members                                                6490 non-null   object
 8   No. of Earning members in the family                                 6490 non-null   int64
 9   Occupation of Respondent                                             6490 non-null   object
 10  Perception on General Economic condition - compared to one year ago  6490 non-null   object
 11  Outlook on General Economic condition - one year ahead               6490 non-null   object
 12  Perception on Household income - compared to one year ago            6490 non-null   object
 13  Outlook on Household income - one year ahead                         6490 non-null   object
 14  Perception on Household spending - compared to one year ago          6490 non-null   object
 15  Outlook on Household spending - one year ahead                       6490 non-null   object
 16  Perception on essential spending - compared to one year ago          6490 non-null   object
 17  Outlook on essential spending - one year ahead                       6490 non-null   object
 18  Perception on non-essential spending - compared to one year ago      6490 non-null   object
 19  Outlook on non-essential spending - one year ahead                   6490 non-null   object
 20  Perception on Employment scenario - compared to one year ago         6490 non-null   object
 21  Outlook on Employment scenario - one year ahead                      6490 non-null   object
 22  Perception on General prices - compared to one year ago              6490 non-null   object
 23  Outlook on General prices - one year ahead                           6490 non-null   object
 24  Perception on Inflation - compared to one year ago                   5654 non-null   object
 25  Outlook on Inflation - one year ahead                                5317 non-null   object
dtypes: int64(3), object(23)
memory usage: 1.3+ MB

In [21]:
ccs_round_41.drop(ccs_round_41.iloc[:, 5:9], inplace=True, axis=1)

In [22]:
ccs_round_41.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6490 entries, 0 to 6489
Data columns (total 22 columns):
 #   Column                                                               Non-Null Count  Dtype
---  ------                                                               --------------  -----
 0   Serial No.                                                           6490 non-null   int64
 1   Round No.                                                            6490 non-null   int64
 2   Period                                                               6490 non-null   object
 3   Gender                                                               6490 non-null   object
 4   Annual Income                                                        6490 non-null   object
 5   Occupation of Respondent                                             6490 non-null   object
 6   Perception on General Economic condition - compared to one year ago  6490 non-null   object
 7   Outlook on General Economic condition - one year ahead               6490 non-null   object
 8   Perception on Household income - compared to one year ago            6490 non-null   object
 9   Outlook on Household income - one year ahead                         6490 non-null   object
 10  Perception on Household spending - compared to one year ago          6490 non-null   object
 11  Outlook on Household spending - one year ahead                       6490 non-null   object
 12  Perception on essential spending - compared to one year ago          6490 non-null   object
 13  Outlook on essential spending - one year ahead                       6490 non-null   object
 14  Perception on non-essential spending - compared to one year ago      6490 non-null   object
 15  Outlook on non-essential spending - one year ahead                   6490 non-null   object
 16  Perception on Employment scenario - compared to one year ago         6490 non-null   object
 17  Outlook on Employment scenario - one year ahead                      6490 non-null   object
 18  Perception on General prices - compared to one year ago              6490 non-null   object
 19  Outlook on General prices - one year ahead                           6490 non-null   object
 20  Perception on Inflation - compared to one year ago                   5654 non-null   object
 21  Outlook on Inflation - one year ahead                                5317 non-null   object
dtypes: int64(2), object(20)
memory usage: 1.1+ MB

In [23]:
# current perception
ccs_round_41['Perception on General Economic condition - compared to one year ago'].value_counts()

Worsened             2706
Improved             2265
Remained the same    1519
Name: Perception on General Economic condition - compared to one year ago, dtype: int64

In [24]:
General_Economic_condition_ccs_round_41 = ccs_round_41.filter(['Serial No.', 'Round No.', 'Period', 'Gender', 'Occupation of Respondent',  'Perception on General Economic condition - compared to one year ago', 'Outlook on General Economic condition - one year ahead'], axis = 1)

## Calculating percentage of net response for perception a year ago for economic variables

In [25]:
#calculating percentage of responses out of total responses for general economci condtion
gen_econ=General_Economic_condition_ccs_round_41['Perception on General Economic condition - compared to one year ago'].value_counts(normalize = True)*100
gen_econ

Worsened             41.694915
Improved             34.899846
Remained the same    23.405239
Name: Perception on General Economic condition - compared to one year ago, dtype: float64

In [26]:
#calculating percentage of responses for Household income 
perception_hh_income=ccs_round_41['Perception on Household income - compared to one year ago'].value_counts(normalize=True)*100
perception_hh_income

Remained the same    50.061633
Decreased            25.423729
Increased            24.514638
Name: Perception on Household income - compared to one year ago, dtype: float64

In [27]:
#calculating for employment sceanrio 
employment = ccs_round_41['Perception on Employment scenario - compared to one year ago'].value_counts(normalize=True)*100
employment

Worsened             42.788906
Improved             31.186441
Remained the same    26.024653
Name: Perception on Employment scenario - compared to one year ago, dtype: float64

In [28]:
#calculating for household spending 
hh_spending = ccs_round_41['Perception on Household spending - compared to one year ago'].value_counts(normalize=True)*100
hh_spending

Increased            83.050847
Remained the same    14.884438
Decreased             2.064715
Name: Perception on Household spending - compared to one year ago, dtype: float64

In [29]:
#calculating for general price level 
gen_price_level= ccs_round_41['Perception on General prices - compared to one year ago'].value_counts(normalize=True)*100
gen_price_level

Increased            87.118644
Remained the same     9.214176
Decreased             3.667180
Name: Perception on General prices - compared to one year ago, dtype: float64

## Calculating for outlook, a year ahead

In [30]:
#calculating percentage of responses out of total responses for general economci condtion
out_gen_eco=ccs_round_41['Outlook on General Economic condition - one year ahead'].value_counts(normalize=True)*100
out_gen_eco

Will improve       49.707242
Will worsen        27.473035
Remain the same    22.819723
Name: Outlook on General Economic condition - one year ahead, dtype: float64

In [31]:
#calculating percentage of responses for Household income
out_hh_income= ccs_round_41['Outlook on Household income - one year ahead'].value_counts(normalize=True)*100
out_hh_income

Will increase      48.597843
Remain the same    39.553159
Will decrease      11.848998
Name: Outlook on Household income - one year ahead, dtype: float64

In [32]:
#calculating for employment sceanrio 
out_employment=ccs_round_41['Outlook on Employment scenario - one year ahead'].value_counts(normalize=True)*100
out_employment

Will improve       50.832049
Will worsen        24.884438
Remain the same    24.283513
Name: Outlook on Employment scenario - one year ahead, dtype: float64

In [33]:
#calculating for household spending 
out_hh_spending=ccs_round_41['Outlook on Household spending - one year ahead'].value_counts(normalize=True)*100
out_hh_spending

Will increase      85.223421
Remain the same    12.311248
Will decrease       2.465331
Name: Outlook on Household spending - one year ahead, dtype: float64

In [34]:
#calculating for general price level 
out_gen_price=ccs_round_41['Outlook on General prices - one year ahead'].value_counts(normalize=True)*100
out_gen_price

Will increase      81.926040
Remain the same    10.955316
Will decrease       7.118644
Name: Outlook on General prices - one year ahead, dtype: float64

## Creating dataframe for CSI and FEI for March 2018

In [35]:
import pandas as pd

In [36]:
data1= {'Economic Variables':['Economic Situation', 'Employment', 'Price Level', 'Income','Spending'],
             'Will Increase':[49.70, 50.83, 81.92, 48.60,85.22],
             'Will Decrease':[27.47,24.88,7.12,11.85,2.46]}
fei_march_round41 = pd.DataFrame(data1)
fei_march_round41

   Economic Variables  Will Increase  Will Decrease
0  Economic Situation          49.70          27.47
1          Employment          50.83          24.88
2         Price Level          81.92           7.12
3              Income          48.60          11.85
4            Spending          85.22           2.46

In [37]:
fei_march_round41= fei_march_round41.assign(Net_Response= lambda x: fei_march_round41['Will Increase']-fei_march_round41['Will Decrease'])
fei_march_round41

   Economic Variables  Will Increase  Will Decrease  Net_Response
0  Economic Situation          49.70          27.47         22.23
1          Employment          50.83          24.88         25.95
2         Price Level          81.92           7.12         74.80
3              Income          48.60          11.85         36.75
4            Spending          85.22           2.46         82.76

In [38]:
fei_march_round41 = fei_march_round41.to_latex()
with open('fei_march_round41.tex', 'w') as f:
    f.write(fei_march_round41)

C:\Users\ABHIRUPA KUNDU\AppData\Local\Temp\ipykernel_20220\776419987.py:1: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  fei_march_round41 = fei_march_round41.to_latex()

In [41]:
FEI_march_41=(fei_march_round41['Net_Response'].mean())+100
FEI_march_41

TypeError: string indices must be integers

In [42]:
data2= {'Economic Variables':['Economic Situation', 'Employment', 'Price Level', 'Income','Spending'],
             'Will Increase':[34.90,31.19,87.12,24.51,85.22],
             'Will Decrease':[41.70,42.79,3.67,25.42,2.06]}
csi_march_round41= pd.DataFrame(data2)
csi_march_round41

   Economic Variables  Will Increase  Will Decrease
0  Economic Situation          34.90          41.70
1          Employment          31.19          42.79
2         Price Level          87.12           3.67
3              Income          24.51          25.42
4            Spending          85.22           2.06

In [43]:
csi_march_round41= csi_march_round41.assign(Net_Response= lambda x: csi_march_round41['Will Increase']-csi_march_round41['Will Decrease'])
csi_march_round41

   Economic Variables  Will Increase  Will Decrease  Net_Response
0  Economic Situation          34.90          41.70         -6.80
1          Employment          31.19          42.79        -11.60
2         Price Level          87.12           3.67         83.45
3              Income          24.51          25.42         -0.91
4            Spending          85.22           2.06         83.16

In [44]:
csi_march_round41 = csi_march_round41.to_latex()
with open('csi_march_round41.tex', 'w') as f:
    f.write(csi_march_round41)

C:\Users\ABHIRUPA KUNDU\AppData\Local\Temp\ipykernel_20220\595691326.py:1: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  csi_march_round41 = csi_march_round41.to_latex()

In [ ]:
CSI_march_41= (csi_march_round41['Net_Response'].mean())+100
CSI_march_41

In [ ]:
data30 = {'Rounds of CCS': ['March 2018', 'June 2018', 'September 2018', 'December 2018'],
         'CSI':[129.46, 132.66, 128.82, 128.56],
         'FEI':[148.50, 150.71, 149.94, 152.56],
         'GDP 2018':[-3.80, 0.63,2.53,6.51],}